body {
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  height: 100vh;
}

#root {
  background-color: #fff;
  margin: 2vw;
  padding: 2vw;
}

header {

}

header a {
  display: inline-block;
  font-size: 1em;
  border:none;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  background-color: #8a1c63;
  color: white;
}

header button {
  display: block;
  float: right;
  display: inline-block;
  font-size: 1em;
  border:none;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  background-color: #8a1c63;
  color: white;
}

header a:hover, header button:hover {
  background-color: #e96044;
}

h1 {
  color: #8a1c63;
}

form {
  padding: 5px;
  margin: 10px;
}

form input {
  display: block;
  margin-bottom: 10px;
}

.expense {
  background-color: #fbde4b;
  padding: 5px;
  margin: 10px;
  height: 80px;
  color: #e96044;
}

.left h2 {
  margin: 0;
}

.date {
  margin:0;
}

.price {
  font-size: 45px;
  font-weight:900;
  margin:0;
  padding:0;
}

.left, .right {
  display: block;
  float:left;
}

.right {
  width: 55%;
  padding: 2vw;
  height: 100%;
}

.left {
  width: 40%;
  padding: 1vw;
}

.right {
  text-align: right;
  margin:0;
  padding:0;
}